@charset "UTF-8";

#categori {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}

#search-container {
	text-align: center;
	margin-bottom: 100px;
}


.form1 {
	width: 80%;
	height: 25px;
	border-radius: 7px;
	padding: 0px 10px;
	margin-bottom: 10px;
}

.form2 {
	width: 60px;
	height: 40px;
	border-radius: 7px;
	background-color: #F03861;
	border:1px solid #F03861;
	color: white;
}

.form2:hover {
	cursor: pointer;
	background-color: white;
	color:#F03861;
}

.fh5co-grid-work .work-holder .inner-overlay{
	background: rgba(0,0,0,.6)
}

.btnContainer {
	margin-bottom: 100px;
}

.btnContainer button {
	width:140px;
	padding:5px;
	margin: 0px 7px;
	border-radius: 10px;
	border: 1px solid #F03861;
	color: #F03861;
	background: white;
}

.btnContainer button:hover {
	background-color: #F03861;
	color:white;
}






.work-holder a img {
	height: 300px;
	width: 90%;
}

@media screen and (min-width: 200px) and (max-width: 635px) {
	.btnContainer button{
		margin:15px !important;
}
	
@media only screen and (min-width: 768px) {
	#search-container {
		text-align: center;
		margin-bottom: 50px;
	}
	
	.form1 {
		width: 500px;
		height: 25px;
		border-radius: 7px;
		padding: 0px 10px;
		margin-right: 7px;
	}
	.form2 {
		width: 60px;
		height: 40px;
		border-radius: 7px;
		background-color: #F03861;
		border: 1px solid #F03861;
		color: white;
	}
	.form2:hover {
		cursor: pointer;
		background-color: white;
		color:#F03861;
	}
	
	.work-holder a img {
		height: 250px;
	}
}

@media only screen and (min-width: 992px) {
	.work-holder a img {
		height: 200px;
	}
}


@media only screen and (min-width: 1200px) {
	.work-holder a img {
		height: 250px;
	}	
}