@charset "UTF-8";

.loginContainer {
	height: auto;
    text-align: center;
    width: 70%;
    margin: 0px auto;
    border-radius: 10px;
    padding: 50px 0px;
    margin-bottom: 5em;
}

.formContainer {
	width: 40%;
	margin: 0px auto;
}

.formContainer input {
	height: 50px;
    padding: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.loginButton {
	margin-bottom: 20px;
}


.loginButton {
	color: #fff;
    background-color: #E95420;
    border-color: #E95420;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
}

.loginButton:hover {
	color: #fff;
    background-color: #ce4414;
    border-color: #c34113;
}

div.findIdPw button {
	margin: 0px 10px;
    background-color: transparent;
    border: 1px solid #E95420;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
	text-align: center;
    vertical-align: middle;
    width: 40%;
    height: 35px;
}


div.findIdPw button:hover {
	color: #fff;
    background-color: #E95420;
    border-color: #E95420;
}


@media only screen and (max-width: 870px) {
	div.findIdPw button {
		width: 90%;
		margin: 0px auto;
	}
	
	.formContainer {
		width: 80%;
	}
}

