.map_wrap {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 600px;
    margin-top:80px;
}

.radius_border {
	border: 1px solid #919191;
	border-radius: 50px;
}

.custom_gps {
	position: absolute;
	top:140px;
	right: 10px;
	width: 100px;
	height: 40px;
	overflow: hidden;
	z-index: 1;
	background-color: #919191;
}
.custom_gps span:hover {
	color: #919191;
	background-color: white;
}

.custom_gps span {
	display: block;
	width: 100px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	color:white;
}

.custom_gps span img {
	width: 15px;
	height: 15px;
	padding: 12px 0;
	border: none;
}

.custom_gps span:first-child {
	border-bottom: 1px solid #bfbfbf;
}

.categoryBox{
	display: flex;
	margin:30px 0;
}

.caMenu{
	flex:1;
	color:#F03861;
	list-style: none;
	border-right: 1px solid #ddd;
}

.caMenu:last-child{
	border-right: none;
}

.cateBtn{
	cursor: pointer;
	border:1px solid #bfbfbf;
	border-radius:50px;
	padding:10px 5px;
	color:#bfbfbf;
	
}
.cateBtn:hover{
	background:#bfbfbf;
	color:white;
	
}
.sub-category ul{
	display: flex;
	margin-top:20px;
}
.sub-category li{
	list-style: none;
	cursor: pointer;
	flex:1;
}

td a{
	color:#666;
}

.community tr td:nth-child(2){
	max-width:750px;
	padding-left:30px;
	text-align: left;
}
.community tr td:nth-child(3){
	min-width:120px;
}
.community tr td:nth-child(4){
	min-width:100px;
}


.community{
	width:100%;
	text-align: center;
	color:#666;
}

.community th{
	text-align: center;
	padding:5px;
}
.community tr{
	border-bottom:1px solid #eee;
}
.community td{
	padding:5px;
}

#Head{
	border-top:3px solid #bbb;
	border-bottom:3px solid #bbb;
	font-weight:500;
}

.blog-section h3{
	margin-bottom: 20px;
}

.imgBox{
	width:100%;
	display: block;
	height:250px;
	margin-bottom:70px;
}
.imgBox img{
	width:100%;
	height:250px;
}

.heading-section h2{
	font-size: 50px;
}

.heading-section h2:before{
	display: none;
}

.heading-section h2:after{
	position: absolute;
    content: '';
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 5px;
    background: #F03861;
}

.btnBox{
	width:142px;
	margin:50px auto 0 auto;
}

@media screen and (max-width: 650px) {
	.sub-category ul{
		display: inherit;
		margin-bottom:10px;
	}
}


.dark {
	background: rgba(0,0,0,0.2);
	width: 100% !important;
}


